{% extends 'base.html' %}
{% block body %}
<br>
<div class="container">
    <div class="text-center">
        {% with messages = get_flashed_messages(with_categories=true) %} {% if messages %}
      {% for category, message in messages %}
      <p><i class="{{ category}}">{{message}}</i></p>
      {% endfor %} 
      {% endif %} {% endwith %}
    </div>
<h2 style="font-family: 'Merienda One', cursive; font-weight: lighter;" class="text-muted mt-4 text-left display-4">Hello, {{ current_user.name }}</h2><br>
<h1 style="font-family: 'Aref Ruqaa', serif;" class="text-left text-muted">INSTRUCTIONS&nbsp;<a style="text-decoration: none; font-size: 15px; position: absolute; left: 88%; top: 11rem;" href = "{{url_for('auth.logout')}}"><i class="fa fa-sign-out fa-2x" title="Logout" aria-hidden="true"></i></a></h1>
<hr style="height:1px;border-width:0;color:rgb(0, 195, 255);background-color:rgb(0, 195, 255)">
<br><br>
<ul style="font-size: 18px; line-height: 1.8rem; font-family: 'Aref Ruqaa', serif;">
    <li class="text-muted">Each right answer will earn you 20 points</li>
    <li class="text-muted">The number of attempts to a question is <i>limited,</i> that is 10 trials per question, so answer if you are confident.</li>
    <li class="text-muted">After giving 10 wrong answers you will get 3 hints one by one on the subsequent wrong answers and you will lose 5 points for each hint.</li>
    <li class="text-muted">After 3 hints you will be given the answer itself but will carry 0 points</li>
    <li class="text-muted">There are no errors in grammar or vocab.</li>
    <li class="text-muted">Links are given in white</li>
    <li class="text-muted">Utilize any online resource for your Hunt! (Google search engine is preferred) If you are on phone, you may need to activate desktop mode for your search.</li>
    <li class="text-muted">The answers are case insensitive. </li>
    <li class="text-muted">Get your pen and papers ready. </li>
    <li class="text-muted">For any queries email us at <b>lockdownsaga.ucsp@gmail.com</b></li>
</ul>
<br>
{% if user.nextq > 1 %}
<div class="text-right">
<h3><a style="text-decoration: none; font-family: 'Aref Ruqaa', serif;" href = "{{url_for('main.disp_question')}}">Resume</a></h3>
<br><br>
</div>
{% else %}
<div class="text-right">
<h3><a style="text-decoration: none; font-family: 'Aref Ruqaa', serif;" href = "{{url_for('main.disp_question')}}">PLAY</a></h3>
<br><br>
</div>
{% endif %}
<br><br>
</div>
{% endblock %}