{% extends 'base.html' %}
{% block body %}

<br>
<div class="container">
  <h2 class="display-4 text-center text-secondary">Quest 15&nbsp;<a style="text-decoration: none; font-size: 15px; position: absolute; left: 88%; top: 4rem;" href = "{{url_for('auth.logout')}}"><i class="fa fa-sign-out fa-2x" title="Logout" aria-hidden="true"></i></a></h2>
  <hr
    style="
      height: 1px;
      border-width: 0;
      color: rgb(0, 195, 255);
      background-color: rgb(0, 195, 255);
    "
  />
  <br />
  <blockquote title="everything has a name" class="text-center m-auto text-secondary lead">
    It is a <b>thing</b> in a similar but a good looking <b>thing</b>
    by the same <b>thing</b> which made this <b>thing.</b> Now floating far
    away from the <b>thing</b> which made it, listening to the same
    <b>thing</b> on and on. <br />
    Now tell me one <b>thing,</b> did you figure out the first <b>thing?</b>
  </blockquote>
  <br />
  <div class="text-center">
    <img width="500px" class="img-fluid" src="{{ url_for('static', filename='images/image.jpg') }}" alt="image">
  </div>
  <br>
  <p class="text-center"><small>There is a something hidden in this image; solve the above riddle to get the password to decode that thing</small></p>
  <p class="text-center"><small><a class="text-center" href="https://futureboy.us/stegano/decinput.html" target="_blank">Use this thing if you get the password</a></small><br><small>(don't capitalize)</small></p>
  <br>
  <div class="text-center">
  {% with messages = get_flashed_messages(with_categories=true) %} {% if
  messages %} {% for category, message in messages %}
  <p><i class="{{ category}}">{{message}}</i></p>
  {% endfor %} {% endif %} {% endwith %}
</div>
  <div class="text-center m-auto">
    <form
      class="form-group"
      action="{{ url_for('main.pro15') }}"
      method="POST"
      autocomplete="off"
    >
      <span class="text-responsive text-muted">Enter your answer</span><br>
      <input
        spellcheck="false"
        class="form_text ml-1 form-control"
        name="Answer"
        type="text"
        required
      /><br />
      <br /><br>
      <div class="text-responsive">
        <input class="btn" type="submit" name="Submit" value="Submit" />
      </div>
    </form>
  </div>
  {% endblock %}
</div>
